* {
    box-sizing: border-box !important;
}

html, body, #root {
    height: 100% !important;
    width: 100% !important;
    overflow-x: hidden !important;  
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #636e72;
    border-radius: 20px;
    border: 2px solid transparent;
    background-clip: content-box;
    opacity: .6;
}

@media screen and (max-width: 450px) {
    #sidebar a > svg {
        height: 1.5em;
        width: 1.5em;
    }
}