@import 'tailwindcss';

:root {
  --background: #ffffff;
  --background-gradient: #e6ecef;
  --foreground: #64748b;
  --primary-bg: #1a2a44;
  --secondary-details: #64748b;
  --button: #3b82f6;
  --button-hover: #2563eb;
  --error: #ff4c4c;
  --success: #3ddc97;
}

@theme {
  --font-rounded: 'M PLUS Rounded 1c', 'sans-serif';
  --font-inter: 'Inter', 'sans-serif';
}

html,
body {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
